:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  color: #213547;
  background-color: #8b93bc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #8b93bc;
  --secondary-color: #f44336;
  --background-color: #f0f4ff;
  --background-color2: #8b93bc;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color2);
}

canvas {
  background-color: white;
  cursor: crosshair;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

